.input {
  background: #efefef;
  border-radius: $border-radius;
  height: 6.5rem;
  width: 100%;
  border: none;
  padding-left: 2.9rem;
  color: $color-text-primary;

  &__error {
    margin-left: 1rem;
    color: red;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  &::placeholder {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $color-input-placeholder;
  }

  &__label {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
    color: $color-text-primary;

    label {
      margin-left: 1rem;
    }
  }
}
